@import url('photographer.css');
:root {
  font-size: 62.5%;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  font-size: 1.6rem;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

header h1 {
  font-weight: 400;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
  font-size: 3.6rem;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin-top: 100px;
}

.home-card-link-photographer {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: unset;
}
.home-card-link-photographer:hover img,
.home-card-link-photographer:focus img {
  box-shadow: 0 0 25px rgb(80, 80, 80);
}

.home-card-link-photographer img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: box-shadow 0.15s ease-in;
}

.home-card-link-photographer h2 {
  color: #d3573c;
  font-size: 3.6rem;
  margin-bottom: 2px;
  text-align: center;
}

.home-card-link-photographer p:first-of-type {
  color: #901c1c;
  font-size: 1.3rem;
  margin: 0 0 5px;
}
.home-card-link-photographer p {
  font-size: 1rem;
  margin-top: 0;
}

.home-card-link-photographer p.price-info {
  font-size: 0.9rem;
  margin-top: 0;
  color: #757575;
}

.error-message {
  color: #901c1c;
  display: inline-block;
  width: 100%;
  text-align: center;
  font-style: italic;
  font-size: 1.3rem;
  line-height: 1.7rem;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .photographer_section {
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 30px;
  }
  header {
    flex-direction: column;
    gap: 10px;
    height: auto;
  }
  h1 {
    margin-right: unset;
  }
  .logo {
    height: 50px;
    margin: 10px 0 0;
  }
}
